# Data Science Tools and Ecosystem
## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- Popular languages that Data Scientists use
- commonly used libraries used by Data Scientists 
- Arithmetic expressions in Python
## Author 
Sanjana Kumari

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Javascript 
4. Julia
5. Scala
6. Apache

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. ggplot
6. ggallery

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Visual studio code|
|Jupyter lab|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [7]:
(200/60)

3.3333333333333335